*.classpath
.classpath
*.classpath
*.classpath
.classpath

.classpath
*.class
.classpath
*.class
.classpath
src/org/jLOAF/casebase/Node.java
src/org/jLOAF/casebase/Graph.java
*.class
*.classpath
*.pydevproject
